body{
  /*background*/
  padding-top: 50px;
  padding-bottom:370px;
  background:linear-gradient(
      rgba(46, 131, 186, 0.55),
      rgba(0, 0, 0 , 0.8),
      rgba(0, 0, 0, 1)),url("https://filipinolawstudentblog.files.wordpress.com/2016/04/cropped-bg_studyingstudents.jpg");
  background-size: cover; 
}

#container {
  position: relative;
  width: 800px;
  height: 205px;
  display: block;
  margin: auto;
  margin-top: 170px;
  /*background: #F3F6F8;*/
  z-index: 3;
}
.login{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: -110px;
	margin-bottom: 40px;
	font-family: 'Maven Pro', sans-serif;
	font-size: 90px;
}
.info{
	/*webkit --> chrom + safari
	  moz    --> firefox
	  o      -->  opera*/
	   -webkit-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
  width: 23%;
  margin: auto;
  display: block;
  margin-bottom: 20px;/*gap between textgfield*/
  border-radius: 6px;/*curve textfield*/
  padding: 10px 30px;/*padding text-textfield*/
  text-align: left;
  font-size: 18px;
  color: #0B5897;
  -webkit-transition-duration: 0.25s;/*smooth*/
          transition-duration: 0.255s;

}
.info:focus {
  /*focus textfield*/
  background-color: white;
  width: 26%;
  color: #0B5897;
}

.info:hover{
	/*mousepress textfield*/
    background-color: rgba(255, 255, 255, 0.7);
}

.loginButton{

    background-color: #085390; 
    border: #042B4B;
    color: white;
    padding: 14px 30px;
    text-align: center;
    font-size: 16px;
    margin: auto;
  	display: block;
  	margin-top: 30px;
    -webkit-transition-duration: 0.25s; 
    transition-duration: 0.25s;
    cursor: pointer;
    border-radius: 6px;
    width: 31%;
    font-weight: bold;
}

